body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%; 
}

p, h4 {
    font-size: 20px;
    margin-bottom: 0;
}

h4 {
    font-size: 16px; 
}

ul, ol {
    margin: 0;
}

table tr td, table tr th {
    padding: 7px;
    border: 1px solid black; 
}

img {
    height: 30px; 
    width: auto;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}