body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.header img {
    display: block;
    width: 318px;
    margin: 20px auto;
}

.content, .archive {
    width: 960px;
    margin: 0 auto;
}

.post-title a {
    color: #ffffff;
    text-decoration: none;
}
.post-title a:hover {
    text-decoration: underline;
}

.article-info {
    overflow: hidden; /* чтобы обнулить float */
    margin-bottom: 10px;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}

.article-full-text {
    line-height: 1.6;
    margin-bottom: 20px;
}

.back-link {
    color: #ffffff;
    text-decoration: none;
}
.back-link:hover {
    text-decoration: underline;
}